.App
  background-color: #DCE1E3
  min-height: 100vh
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  font-size: calc(10px + 2vmin)
  color: black

.prevLink
  color: white
  margin: 10px

.nextLink
  color: white
  margin: 10px

.react-calendar__tile
  height: 50px

.react-calendar__month-view__weekdays__weekday abbr[title] 
  font-size: 14px
  color: rgb(15, 70, 15)
  text-decoration: none

.react-calendar__tile--active
  background: #004E7C
  color: white

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus
  background: #004E7C

.react-calendar__tile,
.react-calendar__month-view__days__day
  font-size: 16px

.main_logo
  height: 171px
  width: 500px